body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HelveticaNeue;
    overflow-x: auto;
    height: 100%;
    background-color: #F5F5F5;
    line-height: 1.6;
    overflow-y: scroll;
    overflow-x: hidden;
    
}


@font-face{
    font-family: HelveticaNeue;
    src: url('../fonts/Helvetica_Neue/HelveticaNeue.otf')

}
* {
    margin: 0;
    padding: 0;

}
/* NAVIGATION */
.btn-pure-text img {

    display: block;
    cursor: pointer;
    height: 25px;
    padding: 0px;
    margin: 0px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 90px;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0px;



}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #aaa;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 25px;
    white-space: nowrap;


}


.logo img {
    transform: translateX(-100rem);
    animation: slideIn 1.3s forwards;
    padding: 25px;
    height: 50px;
    display: flex;

}




@keyframes slideIn {
    from {}

    to {
        transform: translateX(0);
    }
}


.menu {
    display: flex;
    justify-content: space-around;
    z-index: 9999;

}

.menu li {
    list-style: none;

}

.menu a {
    color: white;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 17px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 0px;

}

.burger {
    display: none;
    cursor: pointer;
    padding-right: 8px;
}

.burger div {
    background-color: black;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all .3s ease;

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navbutton {
    background: #FFF200;
    text-align: center;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: lowercase !important;
    width: 200px;
    font-weight: 300;
    border-radius: 29px;


}
li {
	list-style: none;
}
.navbutton:after {
    color: #000;
    content: url("../img/ic_arrow_forward_24px.png");
    display: inline-block;
    height: 2px;
    line-height: 25px;
    margin-left: 0px;
    text-align: center;
    width: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.navbutton:hover {
    -webkit-box-shadow: 0px 0px 7px rgba(112, 112, 112);
    -moz-box-shadow: 0px 0px 7px rgba(112, 112, 112);
    box-shadow: 0px 0px 7px rgba(112, 112, 112);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.afterlogo {
    text-align: left;
    font-size: 17px;
    letter-spacing: 0px;
    color: #707070 !important;
    opacity: 1;
    text-transform: none !important;
    width: calc(100%);
    padding-left: 20px;
    white-space: nowrap;
}

span {
    display: inline-block;
    width: 0;
    height: 34px;
    border-right: 1px solid #ccc;
}

.menu :nth-child(4) img {
    margin-left: 10px;
}

.menu :nth-child(4) {
    margin: 0 auto;
}

.menu :nth-child(4) ::after {
    display: none;
}

/* Begin Media Queries */
@media(max-width: 1024px) {

    .menu {
        width: 100%;

    }

    .logo img {
        padding: 10px;
        height: 35px;
    }

    .afterlogo {
        font-size: 14px;

    }

    .menu a {
        font-size: 14px;
    }

    .navbutton {
        font-size: 14px !important;
        width: 170px;
    }

    .menu {
        position: fixed;
        right: 0;
        height: 80vh;
        top: 11.9vh;
        background-color: #FFF200;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform .5s slide-in;
        font-size: 14px;
    }

    .menu li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .navbutton {

        border: 1px solid black;

    }

    .nav-active {
        transform: translateX(0%);
    }

}

@media(max-width: 900px) {


    nav ul li a {
        font-size: 14px;
        padding: 4px;

    }

    .menu {
        position: fixed;
        right: 0;
        height: 80vh;
        top: 11.9vh;
        background-color: #FFF200;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform .5s slide-in;
        font-size: 14px;
    }

    .menu li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .navbutton {
        border: 1px solid black;

    }

}

@media(max-width: 768px) {
    span {
        display: none;
    }

    .menu li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .logo {
        padding: 5px;


    }

    .afterlogo {
        font-size: 14px;
        white-space: normal;
        padding-left: 0px;

    }

}
/* END OF NAVIGATION */

#globus{
    margin-bottom:9rem;
}

.doo {
    width:50px;
    height: 50px;
    border-radius: 50%;
    border:none;
    background-color: #3EC300;
    background-image: url('../img/ic_arrow_forward_24px2.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
    float:right;
    margin-top: -8px;
    
}
.earth {
    margin:  0 auto;
    padding-top: 8rem;
    width: 95%;
    text-align: center;
}
.earth h1 {
    font-size: 46px;
}

.earth p {
    font-size: 26px;
    margin-bottom: 2rem;
    color: #666666;
}

#centar {
    margin:0 auto;
    width: 650px;
}
.forma {
    background-color: #FFF;
    margin:25px 0;
    padding:20px;
    border-radius: 6px;
    box-shadow: 0px 5px 15px #0000000D;
    font-size: 22px;
    font-weight: 700;
}

.forma img{
    margin: -3px 10px;
}
.labela p {
    width:295px;
    display: inline-block;
}
#labela1p {
    width:480px;
    display: inline-block;
}

/*------tooltip-----*/
.labela .tooltip1 {
    display: inline-block;
    position:relative;
    margin-bottom: 0;
    cursor:pointer;
}  

#centar .tooltip1 .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #000000CC;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left:-280%;
    height:inherit;
    font-size: 13px;
    font-weight: 200;
    line-height: 120%;
    
  }
  .tooltiptext {
      border:none;
      height:15px;
  }
  .tooltip1.tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  #centar .tooltip1:hover .tooltiptext {
    visibility: visible;
  }


  .forma:hover{
      background-color: #3EC300;
      color:#FFF;
      font-weight: 300;
  }
  .forma:hover img{
      filter:brightness(150%);
  }
  .forma:hover .doo {
      background-color: #FFF;
      background-image: url("../img/ic_arrow_forward_24px_veca.svg" );
  }



  input:focus {
    outline:none;
}

  /*------------footer-----------*/




.footer {
    background-color: #222222;
    margin:0 auto;
    position:absolute;
    width:100%;
    bottom:0px;
}
.footer-list{
    width: 630px;
    margin:0 auto;
    text-align: center;
}
.broj{
    display: inline-block;
    background-color: #8888;
    color:#FFF;
    border-radius: 50%;
    height:30px;
    width:30px;
    margin:25px 10px;
    padding:0;
    font-weight: 300;
    
}
.broj p{
    font-weight: 700;
}
.footer-list p{
    color:#FFF;
    display: inline-block;
    font-size: 15px;
}
.footer-list span{
    border-bottom:1px solid #FFF;
    border-right: none;
    width:5%;
    height: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: inline-block;
}
#active{
    background-color: #FFF200;
    color: #000;
}

@media screen and (max-width: 768px) {
    .footer-list p{
        display:none;
    }
    .footer-list {
        width: 350px;
    }
    #forma .check .labela span{
        display:block;
    }
    #centar{
        width:400px;
        line-height: 1;
    }
    .labela p{
        width: 200px;
    }
    #labela1p{
        width:210px;
    }
    .forma {
        font-size: 19px;
    }
    .forma img {
        margin:  0 7px 5px 18px;
    }
}
@media screen and (max-width: 414px) {
    #centar{
        width:350px;
    }
    .forma img {
        margin:  0 7px 5px 5px;
    }
}
